{{ "<!-- Description -->" | safeHTML }}
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.schedule.title }}{{ . }}{{ end }}</h2>
        <!-- Calendly link widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <h3><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andygreenphd/stratsec-consult'});return false;">Click here to schedule now!</a></h3>
    <!-- Calendly link widget end -->
      </div>
    </div>
  </div>
</section>
