{{ "<!-- Schedule Section -->" | safeHTML }}
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.schedule.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/andygreenphd/stratsec-consult', text: 'Schedule a consult', color: '#00a2ff', textColor: '#ffffff', branding: true });</script>
<!-- Calendly badge widget end -->
      </div>
    </div>

  </div>
</section>
