{{ "<!-- Schedule Section -->" | safeHTML }}
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.schedule.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andygreenphd/stratsec-consult'});return false;">Click here to schedule now!</a>
<!-- Calendly link widget end -->
      </div>
    </div>

  </div>
</section>
